version: 2
updates:
  - package-ecosystem: docker
    labels:
      - "dependabot"
      - "dependencies"
      - "docker"
      - "luna/automerge"
      - "luna/autoupdate"
    commit-message:
      prefix: "chore(deps):"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    ignore:
      # Ignore major and minor updates
      # (patch updates are auto applied)
      - dependency-name: "alpine"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
    pull-request-branch-name:
      separator: "-"

  - package-ecosystem: docker
    labels:
      - "dependabot"
      - "dependencies"
      - "docker"
      - "luna/autoupdate"
    commit-message:
      prefix: "chore(deps):"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    # Ignore patch updates
    # (these are NOT auto applied)
    ignore:
      - dependency-name: "alpine"
        update-types:
          - version-update:semver-patch
    pull-request-branch-name:
      separator: "-"
