version: 2
updates:
  - package-ecosystem: docker
    labels:
      - "dependabot"
      - "dependencies"
      - "docker"
      - "luna/automerge"
      - "luna/autoupdate"
    commit-message:
      prefix: "chore(deps):"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    pull-request-branch-name:
      separator: "-"

  - package-ecosystem: pip
    labels:
      - "dependabot"
      - "dependencies"
      - "python"
      - "dependabot"
      - "luna/autoupdate"
    commit-message:
      prefix: "chore(deps):"
    directory: "/root"
    schedule:
      interval: "weekly"
      day: "saturday"
    pull-request-branch-name:
      separator: "-"
    ignore:
      - dependency-name: "protonvpn-cli"
      - dependency-name: "*"
        update-types:
          - version-update:semver-major

  # Actions
  - package-ecosystem: github-actions
    labels:
      - "dependabot"
      - "dependencies"
      - "github-action"
      - "luna/autoupdate"
    commit-message:
      prefix: "ci(deps):"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    pull-request-branch-name:
      separator: "-"
