# Enable Kodiak
version = 1

[merge]
# Required label
# Forces label requirements
require_automerge_label = true

# Labels for automerge
# This Label is shared with Luna.
#-----------------------------------

# Conflicts are avoided by explicitly blacklisting luna label.
# Luna handles this gracefully by first adding this label,
# before doing any other tasks.
automerge_label = "luna/automerge"

# Auto update label
# This Label is shared with Luna.
#-----------------------------------
autoupdate_label = "luna/autoupdate"

# Methods
method = "squash"

# Blacklisted Labels
blocking_labels = ["s/wip", "luna/lock", "luna", "s/review-required", "s/wont-fix"]

# Priority
priority_merge_label = "p/critical"

# Cleanup stale branches
delete_branch_on_merge = true

# On conflicts, remove automerge labels
notify_on_conflict = true

# Wait to Pass checks
optimistic_updates = false

[merge.message]
body = "pull_request_body"
strip_html_comments = true
body_type = "markdown"
cut_body_before = "<!-- COMMIT-NOTES-BEGIN -->"
cut_body_after = "<!-- COMMIT-NOTES-END -->"

[update]
require_automerge_label = false

# Ignore bots or other apps with automerge built in,
# and kodiak should ignore them
ignored_usernames = ["luna-bot"]
