[Unit]
Description=ProtonVPN Container
Documentation=https://github.com/tprasadtp/protonvpn-docker
After=protonwire-pod.service

[Container]
# Enable protonwire itself to handle systemd readiness protocol.
Notify=true

# Runtime configuration
Image=ghcr.io/tprasadtp/protonwire:7
Timezone=local
RunInit=true

# Server Configuration.
EnvironmentFile=-/etc/protonwire

# Private Key
Secret=protonwire-private-key,mode=600

# Image specific extra permissions.
AddCapability=NET_ADMIN
Sysctl=net.ipv4.conf.all.rp_filter=2
Sysctl=net.ipv6.conf.all.disable_ipv6=1

# Mounts
Tmpfs=/tmp

# Healthcheck
HealthCmd=protonwire check --container --quiet
HealthInterval=2m
HealthRetries=3
HealthStartPeriod=30s
HealthTimeout=20s

# Group all VPN apps into single pod.
Pod=protonwire.pod

[Install]
WantedBy=default.target
