name: release
on:
  push:
    tags:
      - "*"
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Make Variables for Debugging
        run: |
          make show-vars-base
          make show-vars-docker

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@56f5b77f7fa4a8fe068bf22b732ec036cc9bc13f
        with:
          version: latest
          install-only: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: valarie-ci-bot
          password: ${{ secrets.GH_TOKEN }}

      - name: Run GoReleaser
        run: make release-prod
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
